<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Stock List</title>
        <link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<h1>Hello <%=customer%>! What would you like to order today?</h1>
		<ul>
		    <li>Black<a href="/hyperBean/0">Add to Order</a>
            </a></li>
            <li>Mocha Latte<a href="/hyperBean/1">Add to Order</a></li>
            <li>Frappuccino<a href="/hyperBean/2">Add to Order</a></li>
            <li>Americano<a href="/hyperBean/3">Add to Order</a></li>
            <li>Hot Chocolate<a href="/hyperBean/4">Add to Order</a></li>
        </ul>
        
        
	</body>
</html>