body {
    background-color: black;
    color: white;
    background-image: url(https://images.unsplash.com/photo-1597243508456-d8cb4178de17?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZXhwbG9zaW9ufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60);
    text-align: center;
}